@model MinhasVendas.App.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Produto</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <img src="~/imagensProdutos/@Model.Imagem" alt="Imagem do Produto" style="width: 150px; height: 214px" />
    </div>
    <div class="col-md-6">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrecoBase)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrecoBase)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrecoDeLista)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PrecoDeLista)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DataDeCadastro)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DataDeCadastro)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ativo)
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
