@model MinhasVendas.App.ViewModels.FornecedorViewModel

@{
    Layout = "_Argon";

    ViewData["Title"] = "Fornecedores";

    ViewData["Rota"] = "Fornecedores";
    ViewData["Acao"] = "Dados do Fornecedor";
    ViewData["Rotulo"] = "Dados do Fornecedor";
}


<div class="container-fluid py-4">
    <div class="row ">
        <div class="col-12 mb-4 mb-md-0">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0 text-capitalize">Fornecedor</h5>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    @Html.DisplayNameFor(model => model.Nome)
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    @Html.DisplayNameFor(model => model.Documento)
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    @Html.DisplayNameFor(model => model.TipoFornecedor)
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    @Html.DisplayNameFor(model => model.Celular)
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    @Html.DisplayNameFor(model => model.WhatsApp)
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    @Html.DisplayNameFor(model => model.Instagram)
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th class="text-secondary opacity-7">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-xs">
                                                @Html.DisplayFor(modelItem => Model.Nome)
                                            </h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-start text-sm">
                                    <span class="text-secondary text-xs font-weight-bold">
                                        @Html.DisplayFor(modelItem => Model.Documento)
                                    </span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">
                                      @{string tipo = Model.TipoFornecedor == 1 ? "Física" : "Jurídica";}
                                      @tipo
                                    </span>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="text-secondary text-xs font-weight-bold">
                                        @Html.DisplayFor(modelItem => Model.Celular)
                                    </span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">
                                        @Html.DisplayFor(modelItem => Model.WhatsApp)
                                    </span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">
                                        @Html.DisplayFor(modelItem => Model.Instagram)
                                    </span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">
                                        @Html.DisplayFor(modelItem => Model.Email)
                                    </span>
                                </td>
                                <td class="align-middle">
                                    <a asp-action="Edit" asp-route-id="@Model.Id" class="mx-3" title="Editar Cliente">
                                        <i class="fas fa-user-edit text-secondary"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @if (Model != null)
    {
        <div class="row mt-4">
            <div class="col-12 mb-4 mb-md-0">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0 text-capitalize">Endereço</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Endereco.Cep)
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        @Html.DisplayNameFor(model => model.Endereco.Logradouro)
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Endereco.Numero)
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Endereco.Complemento)
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Endereco.Bairro)
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Endereco.Cidade)
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Endereco.Estado)
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        @Html.DisplayNameFor(model => model.Endereco.Fornecedor)
                                    </th>
                                    <th class="text-secondary opacity-7">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-xs">
                                                    @Html.DisplayFor(modelItem => Model.Endereco.Cep)
                                                </h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-start text-sm">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            @Html.DisplayFor(modelItem => Model.Endereco.Logradouro)
                                        </span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            @Html.DisplayFor(modelItem => Model.Endereco.Numero)
                                        </span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            @Html.DisplayFor(modelItem => Model.Endereco.Complemento)
                                        </span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            @Html.DisplayFor(modelItem => Model.Endereco.Bairro)
                                        </span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            @Html.DisplayFor(modelItem => Model.Endereco.Cidade)
                                        </span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            @Html.DisplayFor(modelItem => Model.Endereco.Estado)
                                        </span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">
                                            @Html.DisplayFor(modelItem => Model.Endereco.Fornecedor.Id)
                                        </span>
                                    </td>
                                    <td class="align-middle">
                                        <a onclick="AtuazliarEnderecoFornecedor(@Model.Endereco?.Id)" class="mx-3" title="Editar Enderço">
                                            <i class="fas fa-user-edit text-secondary"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row mt-4">
        <div class="col-12 mb-4 mb-md-0">
            <partial name="../OrdemDeCompras/_ListaCompras" model="@Model.OrdemDeCompras" />
        </div>
    </div>
</div>


<div class="modal fade" id="modalAtuazliarEnderecoFornecedor">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="conteudoModalAtuazliarEnderecoFornecedor"> </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    var AtuazliarEnderecoFornecedor = function (enderecoId) {

        var enderecoId = enderecoId;
        var action = "/Fornecedores/EditarEnderecoFornecedor/";
        var url = action + enderecoId;

        $("#conteudoModalAtuazliarEnderecoFornecedor").load(url, function () {
            $("#modalAtuazliarEnderecoFornecedor").modal("show");

            var form = document.getElementById("formularioModalAtuazliarEnderecoFornecedor");
            $.validator.unobtrusive.parse(form);
        });
    }
</script>