@model MinhasVendas.App.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Fornecedor</h4>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Documento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoFornecedor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Celular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WhatsApp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Instagram)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.TipoFornecedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.WhatsApp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Instagram)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div style="padding-top: 20px">
    <div>
        <h4>Endereço</h4>
    </div>
    @if (Model != null)
    {
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Cep)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Logradouro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Numero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Complemento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Bairro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Cidade)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Fornecedor)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Endereco.Cep)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Endereco.Logradouro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Endereco.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Endereco.Complemento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Endereco.Bairro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Endereco.Cidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Endereco.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Endereco.Fornecedor.Id)
                    </td>
                    <td>
                        <a href="#" onclick="AtuazliarEnderecoFornecedor(@Model.Endereco?.Id)">Editar</a>
                    </td>

                </tr>

            </tbody>
        </table>
    }
</div>

<h4>Ordem de Vendas</h4>
<div>
    <partial name="../OrdemDeCompras/_ListaCompras" model="@Model.OrdemDeCompras" />
</div>

<div class="modal fade" id="modalAtuazliarEnderecoFornecedor">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="conteudoModalAtuazliarEnderecoFornecedor"> </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    var AtuazliarEnderecoFornecedor = function (enderecoId) {

        var enderecoId = enderecoId;
        var action = "/Fornecedores/EditarEnderecoFornecedor/";
        var url = action + enderecoId;

        $("#conteudoModalAtuazliarEnderecoFornecedor").load(url, function () {
            $("#modalAtuazliarEnderecoFornecedor").modal("show");

            var form = document.getElementById("formularioModalAtuazliarEnderecoFornecedor");
            $.validator.unobtrusive.parse(form);
        });
    }
</script>