@model MinhasVendas.App.ViewModels.CarrinhoDeComprasViewModel
@*<div class="container-fluid py-4">*@

@{
    Layout = "_Argon";

    ViewData["Title"] = "Compras";

    ViewData["Rota"] = "Compras";
    ViewData["Acao"] = "Carrinho de Compras";
    ViewData["Rotulo"] = "Carrinho de Compras";
}

@{

    if (Model.OrdemDeCompraViewModel.DetalheDeCompras.Any())
    {
        var precoProduto = from item in Model.OrdemDeCompraViewModel.DetalheDeCompras select (item.CustoUnitario * item.Quantidade);
        decimal[] precoProdutos = precoProduto.ToArray();
        decimal totalProdutos = precoProdutos.Aggregate((a, b) => a + b);
        decimal totalCompra = totalProdutos + Model.OrdemDeCompraViewModel.ValorDeFrete;
        Model.TotalCompra = totalCompra;

        var itens = from item in Model.OrdemDeCompraViewModel.DetalheDeCompras select (item.Quantidade);
        int totalItens = itens.Sum();

        Model.TotalItens = totalItens;
        Model.TotalProdutos = totalProdutos;
    }
}
<div class="container-fluid py-4">

    <div class="card-group">
        <div class="card mx-1 rounded ">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h6 class="card-title">Dados</h6>
                    </div>
                    <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                            <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <dl class="row">
                    <dt class="col-md-6 col-sm-12">
                       @Html.DisplayNameFor(model => model.OrdemDeCompraViewModel.DataDeCriacao)
                    </dt>
                    <dd class="col-md-6 col-sm-12">
                        @Html.DisplayFor(model => model.OrdemDeCompraViewModel.DataDeCriacao)
                    </dd>
                    <dt class="col-md-6 col-sm-12">
                        @Html.DisplayNameFor(model => model.OrdemDeCompraViewModel.StatusOrdemDeCompra)
                    </dt>
                    <dd class="col-md-6 col-sm-12">
                        @Html.DisplayFor(model => model.OrdemDeCompraViewModel.StatusOrdemDeCompra)
                    </dd>
                    <dt class="col-md-6 col-sm-12">
                        @Html.DisplayNameFor(model => model.OrdemDeCompraViewModel.Fornecedor)
                    </dt>
                    <dd class="col-md-6 col-sm-12">
                        @Html.DisplayFor(model => model.OrdemDeCompraViewModel.Fornecedor.Nome)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="card mx-1 rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h6 class="card-title">Valores</h6>
                    </div>
                    <div class="col-4 text-end">
                        <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                            <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <dl class="row">
                    <dt class="col-md-6 col-sm-12">
                        Valor Produtos
                    </dt>
                    <dd class="col-md-6 col-sm-12">
                        @Html.DisplayFor(model => model.TotalProdutos)
                    </dd>
                    <dt class="col-md-6 col-sm-12">
                        @Html.DisplayNameFor(model => model.OrdemDeCompraViewModel.ValorDeFrete)
                    </dt>
                    <dd class="col-md-6 col-sm-12">
                        @Html.DisplayFor(model => model.OrdemDeCompraViewModel.ValorDeFrete)
                    </dd>
                    <dt class="col-md-6 col-sm-12">
                        Valor da Compra
                    </dt>
                    <dd class="col-md-6 col-sm-12">
                        @Html.DisplayFor(model => model.TotalCompra)
                    </dd>
                    <dt class="col-md-6 col-sm-12">
                        Total de Itens
                    </dt>
                    <dd class="col-md-6 col-sm-12">
                        @Html.DisplayFor(model => model.TotalItens)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<vc:resumo></vc:resumo>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div style="float:left">
                <button class="btn btn-info" onclick="InserirProduto(@Model.OrdemDeCompraViewModel.Id)">Inserir Produto</button>
                <button class="btn btn-success" onclick="SolicitarAprovacao(@Model.OrdemDeCompraViewModel.Id)">Solicitar Aprovação</button>
                <button class="btn btn-dark" onclick="FinalizarVenda(@Model.OrdemDeCompraViewModel.Id)">Finalizar Compra</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-flush" id="datatable-search">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Produto)
                                </th>
                                <th>
                                    Quantiade
                                </th>
                                <th>
                                    CustoUnitario
                                </th>
                                <th>
                                    TotalProduto
                                </th>
                                <th>
                                    DataRecebimento
                                </th>
                                <th>
                                    StatusRecebiemnto
                                </th>
                                <th>
                                    Ação
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrdemDeCompraViewModel.DetalheDeCompras)
                            {
                                Model.TotalProduto = item.Quantidade * item.CustoUnitario;

                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <p class="text-xs font-weight-bold ms-2 mb-0"> @Html.DisplayFor(modelItem => item.Produto.Nome)</p>
                                        </div>
                                    </td>
                                    <td class="font-weight-bold">
                                        <span class="my-2 text-xs"> @Html.DisplayFor(modelItem => item.Quantidade)</span>
                                    </td>
                                    <td class="text-xs font-weight-bold">
                                        @Html.DisplayFor(modelItem => item.CustoUnitario)
                                    </td>
                                    <td class="text-xs font-weight-bold">
                                        @Model.TotalProduto.ToString("c")
                                    </td>
                                    <td class="text-xs font-weight-bold">
                                        <span class="my-2 text-xs">@Html.DisplayFor(modelItem => item.DataDeRecebimento)</span>
                                    </td>
                                    <td class="text-xs font-weight-bold">
                                        <span class="my-2 text-xs">@Html.DisplayFor(modelItem => item.RegistradoTransacaoDeEstoque)</span>
                                    </td>
                                    <td class="text-sm">
                                        <a class="mx-3" href="#" title="Receber Produto" onclick="ReceberProduto(@item.Id)">
                                            <i class="ni ni-archive-2 text-secondary"></i>
                                        </a>
                                        <a class="mx-3" href="#" title="Excluir Produto" onclick="ExcluirProduto(@item.Id)">
                                            <i class="fas fa-trash text-secondary"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div style="float:left">
                <a class="btn btn-light" href="javascript:window.history.back();">Voltar</a>
                </div>
        </div>
    </div>
</div>





<div class="modal fade" id="inserirProdutoFormModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="inserirProdutoFormModelDiv"> </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ExcluirProdutoFormModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="ExcluirProdutoFormModelDiv"> </div>
        </div>
    </div>
</div>


<div class="modal fade" id="receberProdutoFormModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="receberProdutoFormModelDiv"> </div>
        </div>
    </div>
</div>

<div class="modal fade" id="finalizarVendaFormModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="finalizarVendaFormModelDiv"> </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSolicitarAprovacao">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="conteudoModalSolicitarAprovacao"> </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script>


        var InserirProduto = function (vendaId) {

            var vendaId = vendaId;
            var action = "/DetalheDeCompras/InserirProduto/";
            var url = action + vendaId;


            $("#inserirProdutoFormModelDiv").load(url, function () {
                $("#inserirProdutoFormModel").modal("show");

                var form = document.getElementById("inserirProdutoForm");
                $.validator.unobtrusive.parse(inserirProdutoForm);
            });

        }

        var ExcluirProduto = function (id) {

            var id = id;
            var action = "/DetalheDeCompras/ExcluirProduto/";
            var url = action + id;

            $("#ExcluirProdutoFormModelDiv").load(url, function () {
                $("#ExcluirProdutoFormModel").modal("show");
            });
        }

        var ReceberProduto = function (id) {

            var id = id;
            var action = "/DetalheDeCompras/ReceberProduto/";
            var url = action + id;

            $("#receberProdutoFormModelDiv").load(url, function () {
                $("#receberProdutoFormModel").modal("show");
            });
        }

        var FinalizarVenda = function (vendaId) {

            var vendaId = vendaId;
            var action = "/OrdemDeCompras/FinalizarCompra/";
            var url = action + vendaId;

            $("#finalizarVendaFormModelDiv").load(url, function () {
                $("#finalizarVendaFormModel").modal("show");

                var form = document.getElementById("finalizarCompraForm");
                $.validator.unobtrusive.parse(finalizarVendaForm);
            });
        }

        var SolicitarAprovacao = function (vendaId) {

            var vendaId = vendaId;
            var action = "/OrdemDeCompras/SolicitarAprovacao/";
            var url = action + vendaId;

            $("#conteudoModalSolicitarAprovacao").load(url, function () {
                $("#modalSolicitarAprovacao").modal("show");

                var form = document.getElementById("formularioSolicitarAprovacao");
                $.validator.unobtrusive.parse(form);
            });
        }

    </script>

  }