@model Vendas.ViewModels.CarrinhoDeVendasViewModel

@{
    ViewData["Title"] = "Valor do Frete";
}

<div class="modal-header">
    <h5 class="modal-title">@ViewData["Title"]</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form asp-action="InserirFrete" id="formularioInserirFrete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body">
        <div class="form-group">
            <input hidden readonly asp-for="@Model.OrdemDeVendaViewModel.Id" class="form-control" value=@ViewBag.OrdemDeVendaId>
        </div>
        <div>
            <label asp-for="@Model.OrdemDeVendaViewModel.ValorDeFrete" class="control-label"></label>
            <input asp-for="@Model.OrdemDeVendaViewModel.ValorDeFrete" class="form-control" />
            <span asp-validation-for="@Model.OrdemDeVendaViewModel.ValorDeFrete" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <div class=" col-md-offset-2 col-md-10">
            <input type="submit" value="Solicitar" class="btn btn-success" />
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
    </div>
</form>